<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Smart Pet Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container2">
      <img src="../static/images/global.png" alt="Global" class="title-background" />
      <h1 class="title">Global Control</h1>
      <div id="controlContainer">
        <div class="data-container">
          <h2 id="controlHeader" class="popup-title">Control All The Rooms</h2>
          <h2 id="adjustHeader" class="popup-title">Adjustments</h2>
          <div class="tabcontent" style="display: block; border-top: 1px solid #ccc;">
            <div id="controlPanel" class="control-panel" style="padding-top:20px;">
              <div class="device-controls">
                <div class="device-control">
                  <h2>
                    <label for="lightToggle">Light</label>
                  </h2>
                  <div>
                    <label class="switch">
                      <input type="checkbox" id="lightToggleGlobal" onchange="toggleGlobal()" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <div class="device-control">
                  <h2>
                    <label for="fanToggle">Fan</label>
                  </h2>
                  <div>
                    <label class="switch">
                      <input type="checkbox" id="fanToggleGlobal" onchange="toggleGlobal()" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <div class="device-control">
                  <h2>
                    <label for="windowToggle">Window</label>
                  </h2>
                  <div>
                    <label class="switch">
                      <input type="checkbox" id="windowToggleGlobal" onchange="toggleGlobal()" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <form action="/globalAdjust" id="globalForm" method="POST" style="padding-top:20px;">
              <div class="popup-fields">
                <div class="popup-field">
                  <label for="fanTemp">Above what temperature (C) should the fan be ON?</label>
                  <input type="number" id="fanTemp" name="fanTemp" value="25" />
                </div>
                <div class="popup-field">
                  <label for="dustWindow">Above what dust level should the window be open?</label>
                  <input type="number" id="dustWindow" name="dustWindow" value="500" />
                </div>
                <div class="popup-field">
                  <label for="petLight">How many pets need to be in the room for the light to be ON?</label>
                  <input type="number" id="petLight" name="petLight" value="5" />
                </div>
                <div class="popup-field">
                  <label for="irDistance">Distance between pet and IR sensor to count as in or out.</label>
                  <input type="number" id="irDistance" name="irDistance" value="10" />
                </div>
              </div>
              <div class="buttons-in-popup-form">
                <button class="btn cancel-btn" type="reset">&nbsp;Reset&nbsp;</button>
                <button class="btn submit-btn" type="submit">Submit</button>
              </div>
            </form>            
          </div>
        </div>
      </div>
    </div>

    <script>
      // Function to send control command
      function sendGlobalControlCommand(light, fan, window) {
        console.log('controlcommand');
        $.ajax({
          type: 'POST',
          url: '/globalControl',
          data: {
            light: light,
            fan: fan,
            window: window,
          },
          success: function (response) {
            console.log(response);
          },
          error: function (xhr, status, error) {
            console.error(xhr.responseText);
          },
        });
      }

      // Function to toggle global control
      function toggleGlobal() {
        var lightState = document.getElementById('lightToggleGlobal').checked;
        var fanState = document.getElementById('fanToggleGlobal').checked;
        var windowState = document.getElementById('windowToggleGlobal').checked;
        sendGlobalControlCommand(lightState, fanState, windowState);
      }

      // Function to check toggleValue and hide/show elements accordingly
      function checkToggleValue() {
        var toggleValue = sessionStorage.getItem('toggleValue');

        if (toggleValue === 'false') {
          document.getElementById('controlPanel').style.display = 'none';
          document.getElementById('controlHeader').style.display = 'none';
          document.getElementById('adjustHeader').style.display = 'block';
          document.getElementById('globalForm').style.display = 'block';
        } else {
          document.getElementById('controlPanel').style.display = 'block';
          document.getElementById('controlHeader').style.display = 'block';
          document.getElementById('adjustHeader').style.display = 'none';
          document.getElementById('globalForm').style.display = 'none';
        }
      }

      // Run checkToggleValue on page load
      $(document).ready(function () {
        checkToggleValue();
      });
    </script>
  </body>
</html>
