<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  <meta name="google-signin-client_id" content="{{ google_client_id }}">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
  <div class="login-box">
    <div class="login-container">
      <div class="header">
        <h1 class="word">Register</h1>
      </div>
      <form action="{{ url_for('register') }}" method="post">
        <div class="msg">{{ msg }}</div>
        <input id="email" name="email" type="text" placeholder="Enter Your Email ID" class="textbox" required /><br><br>
        <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox" required /><br><br>
        <input type="submit" class="btn" value="Sign Up"><br>
      </form>
      <p class="bottom2">Already have an account? <a class="bottom2" href="{{ url_for('email_password_login') }}">Sign In here</a></p>
    </div>
  </div>
</body>
</html>
