body {
  font-family: "Times New Roman", Times, serif;
  background-image: url("images/background.jpg");
  background-size: 100% 100%;
  background-repeat: no-arepeat;
  background-position: center;
  background-attachment: fixed;
}

.container {
  max-width: 1600px;
  margin: 53px auto;
  padding: 40px;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.toggle-container h2 {
  margin-right: 10px;
}

#modeLabel {
  margin-top: -20px;
  margin-bottom: 25px;
}

.button-group {
  margin-left: auto; /* Change from previous: use float:right */
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.btn {
  font-family: "Times New Roman", Times, serif;
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 68px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 25px;
  font-weight: bold;
}

.btn:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.rooms {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.room-link {
  text-decoration: none;
  color: inherit;
}

.room-container {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  height: 550px;
}

.room-container:hover {
  transform: translateY(-5px);
}

.room-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.room-title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px 20px;
  border-radius: 20px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 90%;
}

.popup-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.popup-field {
  display: flex;
  flex-direction: column;
}

.popup-field label {
  font-weight: bold;
  margin-bottom: 10px;
}

.popup-field input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons-in-popup-form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: -10px;
}

.buttons-in-popup-form .btn {
  margin: 0 20px;
}

.hidden {
  display: none;
}

.popup-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-top: -10px;
}

.tabs-wrapper {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 20px;
}

.tab {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.tablinks {
  font-family: "Times New Roman", Times, serif;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 18px;
}

.tablinks:hover {
  background-color: #ddd;
}

.tablinks.active {
  background-color: #bbb;
  border: 2px solid #5e5e5e;
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  display: block;
}

.popup-content .tabcontent {
  padding: 20px;
  border-top: 1px solid #ccc;
}

.cancel-btn {
  color: #fff;
  border-radius: 12px;
  background: linear-gradient(90deg, #ff4a4a, #da2c2c);
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #9f1515 0 -3px 0 inset;
}

.submit-btn {
  color: #fff;
  border-radius: 12px;
  background: linear-gradient(90deg, #2db96f, #28aa42);
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #126c24 0 -3px 0 inset;
}

.cancel-btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #9f1515 0 -3px 0 inset;
  transform: translateY(-2px);
}

.submit-btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #126c24 0 -3px 0 inset;
  transform: translateY(-2px);
}

.control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

.device-controls {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.device-control {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.device-control label {
  margin-right: 10px;
}

/* Toggle Button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #43d45c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #43d45c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.fa {
  color: white;
}

.cancel-btn2 {
  top: -97px;
  float: right;
  height: 54px;
}

.movement-title {
  font-size: 25px;
  padding: 20px 20px;
}

.left-btn,
.right-btn {
  margin-top: 25px;
}

.stop-btn {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
  color: white;
}

.title-background {
  margin-top: -20px;
  margin-left: -15px;
  width: 103%;
  position: relative;
}

.title {
  font-size: 60px;
  top: 80px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: white;
}

/* Data Container Styles */
.data-container {
  margin-top: 50px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 80%;
  margin: 50px auto;
}

.data-row {
  display: flex;
  margin-bottom: 10px;
  font-size: 20px;
}

.data-label {
  font-weight: bold;
  font-size: 20px;
}

.data-label-fan-speed {
  padding-left: 100px;
}

.data-value {
  padding-left: 20px;
}

.square-image {
  padding-left: 10px;
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  background-color: #fefefe;
  border-radius: 5px;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -200px;
  margin-bottom: 200px;
}

.login-box{
  text-align: center;
}

.login-container {
  margin-top: 50px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 30%;
  margin: 50px auto;
  justify-content: center;
}

.textbox {
  padding: 10px 40px;
  background-color: #fff;
  color: #ffffff;
  border-radius: 10px;
}

.word {
  margin-bottom: -30px;
}

.bottom {
  margin-top: 25px;
}

.bottom2 {
  margin-top: 50px;
}